
td{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: plum;
    text-align: center;
    padding: 10px 22px;
}

table{
    border-collapse: collapse;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px dashed black;
    border-left: 3px dashed black;
}

#td12{
    background-color: lightskyblue;
}

#td31{
    background-color: lightgreen;
}