root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

*::before, *::after {
    box-sizing: inherit;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: #C9A5AA;
}

.wrapper {
    margin: 12px;
}

nav{
    background: #F4D3D3;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px 0 5px 0;
    align-items: center;
    width: 100%;
}

.nav-menu{
    font-size: 14px;
    display: block;
    font-family: "Arial Black", sans-serif;
}

.nav{
    width: 100%;
}

.nav li{
    padding: 6px 0;
    text-align: center;
}

.nav li a{
    color: #006EBE;

}

:link{
    color: #006EBE;
}

:visited{
    color: #0B257D;
}

:link:hover{
    color: #5EAAE0;
}

.nav li:hover{
    background: #ffff;
}

main{
    background: #ffff;
    padding: 16px;
    border-radius: 8px 8px 0 0;
    margin-top: 16px;
}

.date{
    background: #E9E9E9;
    padding: 8px;
    display: flex;
    column-gap: 6px;
    border-radius: 8px;
}

.date a{
    color: #006EBE;
}

h1{
    font-size: 24px;
}

.main{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 16px;
}

.info h2{
    font-size: 18px;
    margin-bottom: 8px;
}

figure{
    background: #F4D3D3;
    border-radius: 8px;
    text-align: center;
}

figure img{
    width: 100%;
    display: flex;
}

figcaption{
    padding: 10px;
    font-style: italic;
    line-height: 1.75;
}

ol > li::before{
    content: counter(list-item) ".";
    display: inline-block;
    width: 20px;
    margin-left: -10px;
}